.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.card-body__sub {
    overflow: auto;
}
.card-footer {
    bottom: 0;
}
.message {
    display: flex;
    justify-content: space-between;
}
.info, .text {
    display: inline-block;
    margin: auto 0 auto 0;
}
.date, .sender {
    margin: auto 0 auto 0;
}